<!-- sidebar.component.html -->
<div [ngClass]="collapsed ? 'w-20' : ' w-full'"
    class="flex flex-col h-full bg-white shadow-lg  bg-sidebar-background border-r-2">
    <div class="flex flex-row items-center p-4 border-b">
        <div class="bg-pink-200 rounded-xl w-12 h-12 flex items-center justify-center mb-2">
            <i class="fas fa-crown text-pink-500"></i>
        </div>
        <div [ngClass]="collapsed ? 'hidden' : '' " class="ml-2">
            <h2 class="font-semibold text-gray-800">{{ h2Heading() }}</h2>
            <span class="bg-pink-500 text-white text-xs px-2 py-1 rounded-full mt-1">{{ h2Span() }}</span>
        </div>
        <button class="text-gray-700 text-2xl focus:outline-none absolute right-[21px] top-[25px] "
            aria-label="Toggle sidebar" [ngClass]="checkDeviceType() ? '' : 'hidden' "
            (click)="isMobiletoggleSidebar.emit()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-panel-left">
                <rect width="18" height="18" x="3" y="3" rx="2"></rect>
                <path d="M9 3v18"></path>
            </svg>
        </button>
    </div>
    <!-- Navigation -->
    <nav class="flex-1 p-4">
        <h6 [ngClass]="collapsed ? 'hidden' : '' " class="text-gray-600 text-xs uppercase m-3">Navigation</h6>
        <ul class="space-y-1 mt-4">
            @for(item of items; track item.label){
            <li class="list-none">
                <a [routerLink]="item.route" routerLinkActive="bg-pink-500 text-white"
                    [routerLinkActiveOptions]="{ exact: true }" [ngClass]="collapsed ? 'rounded-md' : '' "
                    class="flex items-center gap-3 px-2 py-2 rounded-full transition-colors duration-200 text-sm text-gray-500 hover:bg-gray-100">
                    <i class="{{item.icon}} ml-2"></i>
                    <span [ngClass]="collapsed ? 'hidden' : '' ">{{ item.label }}</span>
                </a>
            </li>
            }

        </ul>
    </nav>

    <!-- Footer -->
    <div [ngClass]="collapsed ? 'hidden' : '' " class="p-4 text-center text-gray-400 text-xs border-t">
        Bella Salon Management <br>
        v1.0.0
    </div>
</div>